.box {
    background-color: rgb(207, 214, 214);
    gap: 10px;
    padding: 200px;
    text-align: center;
}

.btnsize,
.btnsize1 {
    width: 80px;
}

.btnreset {
    width: 320px;
}

.txtsize {
    width: 335px;
    background-color: #212529;
    height: 100px;
    font-size: 55;
    align-items: center;
    margin-left: 280px;
}